.lds-dual-ring {

  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {

  content: " ";
  display: block;
  width: 100px; /*64px*/
  height: 100px; /*64px*/
  margin: 8px;
  opacity: 1;
  border-radius: 50%;
  border: 10px solid #010038;
  border-color: #010038 transparent #010038 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {

  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader{

  background: rgb(255,255,255);
  background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgb(9, 139, 245, 0.678) 0%, rgba(255,255,255,1) 65%);
  opacity: .9;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 0.4s ease-in-out;
}

.hideloader{

  clip-path: circle(0% at 100% 0);
}