@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500;600&display=swap');

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {

  scroll-behavior: smooth;
}

html::-webkit-scrollbar{

  width: 10px;
  background-color: #010038;
}

html::-webkit-scrollbar-thumb{

  background-color: #2276f3;
  box-shadow: inset 0 0 5px 0 #010038;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover{

  box-shadow: inset 0 0 5px 0 #fff;
}

body{

  font-family: 'Poppins', sans-serif;
}

/*====================== NAVIGATION BAR ======================*/

header{

  position: fixed;
  box-shadow: inset 0 0 5px 0 #010038;
  background-color: rgba(46, 155, 243, 0.815);
  height: 51px;
  width: 100%;
  line-height: 50px;
  list-style: none;
  font-weight: bold;
  z-index: 2;
}

.logo{

  color: #fff;
  padding-left: 50px;
  font-weight: bold;
  font-size: clamp(30px, 5vw, 35px);
  text-decoration: none;
}

.logo span{

  color: #010038;
}

.menu{

  float: right;
  margin-right: 20px;
}

.options{

  display: inline-block;
  margin: 0 5px;
}

.options a{

  color: #010038;
  font-size: 17px;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

.options a::after{

  background-color: #010038;
  border-radius: 3px;
}

.menu .active{

	background-color: #010038;
}

.menu .active, .options a:hover{

  color: #fff;
	transition: .5s;
}

.menu-btn{

  font-size: 30px;
  color: #010038;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#side-menu-btn{

  display: none;
}

/*====================== HOME ======================*/

.home{

	width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#010038, rgba(0, 0, 0, 0.2)), url("../img/backgrounds/movi.gif");
  background-repeat: no-repeat;
  background-size: cover;
	background-position: bottom;
  background-attachment: local;
  padding-top: 80px;
  padding-bottom: 10px;
  column-gap: 100px;
  row-gap: 20px;
}

.home h1, .home h2, .home h3{

  font-family: 'Kaushan Script', cursive;
  color: #fff;
}

.home span{

  font-family: 'Kaushan Script', cursive;
  color: #049df5ea;;
}

.home h1{

  font-size: clamp(45px, 12vw, 80px);
}

.home h2{

  font-size: clamp(30px, 8vw, 50px);
}

.home h3{

  font-size: clamp(25px, 8vw, 40px);
}

.welcome{

  flex-direction: column;
  text-align: center;
  z-index: 1;
}

.cv{

  display: flex;
  margin-top: clamp(25px, 5vw, 50px);
  margin-bottom: 0px;
  justify-content: center;
}

#cv-btn{

	font-size: clamp(12px, 5vw, 17px);
  font-weight: bold;
  padding: 5px 15px;
  cursor: pointer;
}

.watch-cv{

  width: 121px;
}

.languaje{

  display: none;
  list-style: none;
  position: absolute;
  width: 176px;
  margin-top: 5px;
  left: calc(50% - 85px);
}

.watch-cv:hover > .languaje{

  display: block;
}

#select-lang{

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  cursor: default;
  background-color: white;
  color: #010038;
  padding: 10px 20px;
  font-size: clamp(11px, 5vw, 16px);
}

#english{

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.languaje a{

  text-align: center;
  background-color: white;
  color: #010038;
  text-decoration: none;
  display: block;
  padding: 10px 50px;
  font-size: clamp(10px, 5vw, 15px);
}

.languaje a:hover{

  background-color: #01ebfc;
  color: #010038;
  cursor: pointer;
}

.flags{

  width: 40px;
  height: 25px;
}

#my-photo{
  width: clamp(300px, 50%, 100px);
  border-radius: 25% 10%;
  border: 5px solid #0183fc;
  box-shadow: 0 0 50px 0 #049df5ea;

}

/*====================== ABOUT ME ======================*/

.about{

	width: 100%;
  display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
	column-gap: 50px;
}

.coder{

  margin-top: 20px;
  gap: 50px;
}

.coder, .about-me{

	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
}

.coder h1, .about-me p, .about-me h3{

	color: #010038;
}

.coder span, .about-me h3 span{

	color: #049df5ea;
}

.coder h1, .about-me h3{

  font-family: 'Kaushan Script', cursive;
}

.coder h1{

	font-size: clamp(40px, 8vw, 60px);
}

.coder img{

	width: clamp(300px, 80vw, 600px);
}

.about-me{

  gap: 25px;
}

.about-me p{

	text-align: center;
	font-size: clamp(17px, 1.8vw, 20px);
}

.text{

  margin-left: 25px;
  margin-top: 25px;
  margin-right: 25px;
}

.hobbies h3{

	font-size: clamp(30px, 8vw, 45px);
}

.hobbies{

  margin-bottom: 20px;
}

.hobbies ul{

  margin-top: 20px;
}

/*====================== TECH and PROJECTS ======================*/

.tech, .projects, .contact{

  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.tech, .projects{

  height: auto;
}

.tech{

  padding-top: 80px;
  padding-bottom: 100px;
}

.tech h1, .contact h1{

  color: rgb(248, 248, 248);
}

.projects h1{

  color: #010038;
}

.tech h1, .projects h1, .contact h1{

  text-align: center;
  margin: 1.875rem 1.25rem;
  font-family: 'Kaushan Script', cursive;
	font-size: clamp(40px, 8vw, 60px);
}

.tech h1 span, .projects h1 span, .contact h1 span{

  color: #08a3fc;
}

.tech-icons{

  display: grid;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.tech-div{

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tech-div img{

  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 50px 0 #049df5ea;;
  transition: .25s;
}

.tech-div h3{

  color: #0cabf5e5;
  text-align: center;
  font-size: 1.1875rem;
}

/*====================== PROJECT INFO ======================*/

.container {

	max-width: 1200px;
	width: 90%;
	margin: auto;
}

.carousel_container {

	position: relative;
}

.previous,
.next {

	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #010038;
}

.previous:hover,
.next:hover {

	color: #049df5ea;
}

.previous {

	left: -15px;
}

.next {

	right: -15px;
}

.container_list {

	overflow: hidden;
}

.project-info{

	background-image: linear-gradient(#04025c, rgba(0, 0, 0, 0.7)), url("../img/binary_code.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	border: solid #010038;
	border-radius: 25% 10%;
	transition: .25s;
	margin-right: 10px;
	margin-left: 10px;
  padding-bottom: 10px;
}

.project-info:hover{

	cursor: default;
}

.project-info h3{

	color:  #08a3fc;
	text-align: center;
}

.project-info h4, .project-info p{

	color: #fff;
	text-align: center;
}

.project-info h3{

	font-size: 1.1875rem;
}

.project-info h4{

	font-size: 0.88rem;
}

.project-info p{

	margin-left: 15px;
	margin-right: 15px;
	font-size: 1.0625rem;
}

.project-info a{

	font-size: clamp(12px, 5vw, 16px);
	color: #dddddd;
	padding: 5px 15px;
	cursor: pointer;
}

.indicators .glider-dot {

	margin-top: 30px;
	display: block;
	width: 30px;
	height: 4px;
	background: #010038;
	border-radius: 0;
}

.indicators .glider-dot:hover {

	background: #049df5ea;;
}

.indicators .glider-dot.active {

	background: #049df5ea;;
}

/*====================== CONTACT ======================*/

.contact{

  padding-top: 50px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.contact-box{

  width: clamp(500px, 90vw, 1000px);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 15px 10px #049df5ea;;
  border-radius: 20px;
  margin-bottom: 60px;
}

.left-side{

  height: 320px;
  justify-content: center;
  align-items: center;
}

.left-side img{

  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.right-side{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.info-required{

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-bottom: 20px;
}

.right-side form input, .right-side form textarea{

	border: 2px solid #049df5ea;;
	background-color: rgba(230, 230, 230, 0.6);
	font-size: clamp(14px, 3vw, 16px);
  font-family: 'Poppins', sans-serif;
  color: #010038;
  border-radius: 10px;
  text-indent: 7px;
}

.right-side form input{

  height: 30px;
  width: clamp(250px, 60vw, 400px);
}

.right-side form textarea{

  height: clamp(100px, 60vw, 200px);
  width: clamp(250px, 60vw, 400px);
  max-height: clamp(100px, 60vw, 200px);
  max-width: clamp(250px, 60vw, 400px);
}

.right-side form label{

  color: #049df5ea;
  font-size: clamp(12px, 5vw, 16px);
  font-weight: bold;
}

.right-side form button{

  border: none;
  padding: 5px 20px;
  font-size: clamp(12px, 5vw, 16px);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  padding: 5px 50px;
}

/*====================== FOOTER ======================*/

footer{

  width: 100%;
  height: auto;
  background-color:#1689e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

footer h1{

  color: #eeeef7;
  text-align: center;
  background-color: #01000e;
  border-radius: 50%;
  font-size: clamp(9px, 5vw, 16px);
  padding: 2%;
  width: 20%;
  height: 10%;
}

footer h1 img{

  width: 20px;
  height: 20px;
}

footer a{

  color: #eeeef7;
  text-align: center;
  text-decoration: none;
  font-size: clamp(9px, 5vw, 16px);
}

.sm-icons{

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sm-icons img{

  width: 50px;
  height: 50px;
}

.dark-color{

  background: rgb(1,0,56);
  background: linear-gradient(0deg, rgba(1,0,56,1) 0%, rgba(103,93,79,1) 50%, rgba(1,0,56,1) 100%);
}

.light-color{

  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(206,206,255,1) 50%, rgba(255,255,255,1) 100%);
}


